PORT=5000
NODE_ENV=development
DATABASE_URL="file:./dev.db" # Or "postgresql://user:password@localhost:5432/warung_lenira" / "mysql://root:@localhost:3306/warung_lenira"
JWT_SECRET=your-jwt-secret-key-here
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000

# Payment Gateway Configuration
PAYMENT_GATEWAY_MODE=sandbox # 'sandbox' | 'midtrans' | 'xendit'
PAYMENT_GATEWAY_SERVER_KEY=
PAYMENT_GATEWAY_CLIENT_KEY=
PAYMENT_GATEWAY_SECRET_KEY=
